<footer>
    <div class="container">
        <h3>Recevez votre Newsletter</h3>
        <p>Inscrivez-vous à notre Newsletter et recevez nos conseils personnalisés pour optimiser votre recherche
            d'emploi.</p>
        <form class="form-inline">
            <div class="form-group mb-2">
                <input type="email" class="form-control" id="email" placeholder="Votre e-mail">
            </div>
            <button type="submit" class="btn btn-outline-light mb-2 ml-2" onclick='FB.AppEvents.logEvent("buttonClicked")'>S'inscrire</button>
        </form>
    </div>
</footer>

<script src="{{.Site.BaseURL}}/js/typewriter.js"></script>
<script src="{{.Site.BaseURL}}/js/main.js"></script>

