// Landing Page CSS
@import "modules/variables.scss";
@import "components/buttons.scss";

@import url('https://fonts.googleapis.com/css?family=Rubik');


body {
  font-family: "Rubik", sans-serif !important;
}

header {
  background-image: linear-gradient(
      0deg,
      rgba($primary, 1),
      rgba($primary, 0.5)
    ),
    url("https://res.cloudinary.com/dw06d9fmy/image/upload/q_40/v1544088287/hero.jpg");
  background-size: cover;

  a {
    color: $white;
  }
  a:hover {
    color: rgba($color: $white, $alpha: 0.7);
    text-decoration: none;
  }
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 100vh;
}

.hero__logo {
  height: 150px;
  width: 150px;
}

.hero__quote {
  color: $primary;
  font-weight: bolder;
}

.hero__text {
  font-weight: bolder;
  text-align: center;
  display: flex;
  font-size: 18pt;
  color: $white;
}

.hero__down {
  color: $white;
  font-size: 60pt;
}

@media screen and (max-width: 1024px) {
  .hero__text {
    font-size: 15pt;
  }
}

// Sections
section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section__feature {
  text-align: center;
  height: 100%;
  position: relative;
}

.section__img {
  height: 300px;
  width: 80%;
  object-fit: cover;
  z-index: 1;
  margin-bottom: -100px;
}

.section__big {
  width: 100%;
  position: relative;

  .section__content {
    padding: 30px;
  }

  .section__img--background {
    background-color: $primary;
    height: 150px;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
  }

  img {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }

  .section__text {
    margin-top: 2rem;

    strong {
      font-weight: 600;
      color: $primary;
      padding: 1rem;
    }
  }
}

.section__img--background {
  background-color: $primary;
  height: 150px;
  width: 100%;
  z-index: -1;
  bottom: 0;
}

.section__content {
  position: relative;
  height: 100%;

  .section__title {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1.5rem;

    h3 {
      font-weight: 600;
      background-color: $white;
      line-height: inherit;
      margin-left: 0.5rem;
    }

    strong {
      color: $primary;
      font-size: 3rem;
      font-weight: bolder;
      z-index: -1;
    }
  }

  .section__text {
    opacity: 0.7;
    margin-bottom: 1.5rem;
  }

  .section__footer {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

// Mobile Sections
@media screen and (max-width: 768px) {
  .section__content {
    .section__title {
      margin-top: 1.5rem;
    }

    .section__footer {
      bottom: auto;
      right: 0;
    }
  }
}

footer {
  background-color: $primary;
  color: $white;
  padding-top: 60px;
  padding-bottom: 60px;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-weight: bolder;
    }

    .form-control {
      color: $primary;
      border: 1px solid $white;
      caret-color: $primary;
    }

    .form-control:focus {
      color: $primary;
      box-shadow: none;
    }
  }
}
