body {
    // Align inside content
    display: flex;
    flex-direction: column;
    height: 100vh;
    //Reset
    margin: 0;
    background-color: grey;
    font-family: 'Rubik', sans-serif !important;
}

.wrapper {
    flex-grow: 1;
    display: flex;
    background-color: grey;
}

@media screen and (max-width: 600px) {
    .wrapper{
        flex-direction: column;
    }

}

