<html xmlns:og="http://ogp.me/ns#">
<head>
  <title>Cap' Pas Cap'</title>
  <meta property="og:url"                content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html" />
  <meta property="og:type"               content="website" />
  <meta property="og:title"              content="Cap' Pas cap' " />
  <meta property="og:description"        content="Cap'Pas'Cap, la plateforme qui te fait matcher avec le travail adapté à ton handicap en 24h." />
  <meta property="og:image"              content="https://res.cloudinary.com/dw06d9fmy/image/upload/v1544094685/47576503_512776709228377_1718516608126681088_n.png" />
  <meta property="fb:app_id" content="266355604038865">
  <meta property="og:locale:fr_FR">
</head>
</html>
